<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-23i4h40QWQgjFW13cZNpMLU222iCSPw">
    </script>

    <style type="text/css">
        html {
            width: 375px;
        }

        body {
            width: 375px;
            height: 812px;
            /*font-size:38px;*/
            /*overflow: hidden;*/
        }

        #app {
            width: 375px;
            height: 812px;
        }

        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

        .el-drawer__body {
            overflow: auto;
            /* overflow-x: auto; */
        }

        .el-drawer__container ::-webkit-scrollbar {
            display: none;
        }

    </style>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<body>
<div id="app">


    <el-row>
        <el-col :span="4">
            <el-button circle @click="drawer = true" type="primary" style="margin-left: 16px;">
                <i class="el-icon-user-solid"></i>
            </el-button>
        </el-col>
        <el-col :span="16" class="vCenter">
        <span>
             {{ time.nowDate + ' ' + time.nowTime + ' ' + time.nowWeek }}
        </span>
        </el-col>
        <el-col :span="4" class="vCenter">
        <span>
            <i class="el-icon-heavy-rain"></i>
            20°
        </span>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">From</el-col>
        <el-col :span="16">
            <el-input v-model="location.from"></el-input>
        </el-col>

    </el-row>
    <el-row>
        <el-col :span="8">To</el-col>
        <el-col :span="16">
            <el-input v-model="location.to"></el-input>
        </el-col>
    </el-row>

    <el-button el-button @click="routeSelect = true" type="primary" style="margin-left: 16px;">GO</el-button>
    <el-col>
        <div id="googleMap" style="width:500px;height:380px;"></div>
    </el-col>


    <el-drawer
            title="Route options display"
            :visible.sync="routeSelect"
            size="60%"
            direction="btt">
        <el-collapse v-model="activeName" accordion>
            <el-collapse-item title="46A" name="2">
                <div>Station</div>
                <div>Station</div>
            </el-collapse-item>
            <el-collapse-item title="39A" name="3">
                <div>Station</div>
                <div>Station</div>
                <div>Station</div>
                <div>Station</div>
            </el-collapse-item>
            <el-collapse-item title="175" name="4">
                <div>Station</div>
                <div>Station</div>
            </el-collapse-item>
        </el-collapse>
    </el-drawer>

</div>


</body>


<script type="text/javascript">
  new Vue({
    el: '#app',
    data: function () {
      return {
        location: {
          from: '',
          to: ""
        },
        drawer: false,
        activeName: '1',
        routeSelect: false,


      }
    },
    methods: {
      currentTime() {
        setInterval(this.getDate, 1000);
      },
      openAd: function () {
        this.$alert('Irish milk is the BEST in the world!', 'AD', {
          confirmButtonText: 'SURE',
//          callback: action => {
//            this.$message({
//              type: 'info',
//              message: `action: ${ action }`
//            });
//          }
        });
      },
      getDate: function () {

        var _this = this;
        let yy = new Date().getFullYear();
        let mm = new Date().getMonth() + 1;
        let dd = new Date().getDate();
        let week = new Date().getDay();
        let hh = new Date().getHours();
        let mf =
          new Date().getMinutes() < 10
            ? "0" + new Date().getMinutes()
            : new Date().getMinutes();
        if (week == 1) {
          this.time.nowWeek = "Monday";
        } else if (week == 2) {
          this.time.nowWeek = "Tuesday";
        } else if (week == 3) {
          this.time.nowWeek = "Wednesday";
        } else if (week == 4) {
          this.time.nowWeek = "Thursday";
        } else if (week == 5) {
          this.time.nowWeek = "Friday";
        } else if (week == 6) {
          this.time.nowWeek = "Saturday";
        } else {
          this.time.nowWeek = "Sunday";
        }
        _this.time.nowTime = hh + ":" + mf;
        _this.time.nowDate = yy + "/" + mm + "/" + dd;
      },
      initMap: function () {
        // The location of Uluru
        var dublin = {lat: 53.3441, lng: -6.26749};
        // The map, centered at Uluru
        var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 10, center: dublin});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: dublin, map: map});
      }
    },
    mounted() {
      this.currentTime();
      this.openAd();
    },

  })

  // Initialize and add the map

</script>
<script>

</script>

</html>