
.vertically_centered{
    /*background: orange;*/
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.parent_rel{
    position: relative;
}
.go_button{
    width: 100%;
}
.info-right{
    font-size:16px;
    float: right;
}
.weather{
    margin-left: 20px;
}
.mapBlock{
    margin-top: 20px;
}