<DOCTYPE html>
    <html lang="zh-han">
    <head>
        <title>regist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form method="post" action='/regist'>
            <label>username:<input type="text" name="username" value=""></label></br>
            <label>password:<input type="password" name="password1" value=""></label></br>
            <label>password again:<input type="password" name="password2" value=""></label></br>
            <label>email:<input type="email" name="email" value=""></label></br>
            <input type="submit" value="regist">
        </form>
        
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
    </body>
    </html>